---
// src/pages/index.astro
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = (
  await getCollection('posts', ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true
  )
).sort((a, b) => +b.data.pubDate - +a.data.pubDate);
---

<Layout title="Blog" description="Blog posts">
  <main class="container">
    <h1>Guía Salesforce Marketing Cloud</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.id}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  h1 {
    color: var(--accent);
  }
  ul {
    font-size: 1.125rem;
  }
  ul li {
    margin-bottom: 1rem;
  }
  a {
    color: var(--text);
  }
</style>
