<header id="header">
  <nav>
    <ul>
      <li><a href="/">ÍNDICE</a></li>
    </ul>
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
    background-color: var(--code-bg);
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  nav a {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
  }
</style>
